* {
    padding: 0;
    margin: 0;
    color: #f1f1f1;
    user-select: none;
}

:root {
    --color-1:rgb(20, 20, 20);
    --color-2:rgb(152, 229, 245);
    --color-3:rgb(245, 236, 152);
    --color-4:rgb(153, 181, 245);
    --color-5:rgb(135, 143, 160);
    --color-6:rgb(81, 112, 118);
    --color-7: rgba(0, 0, 0, 0.5);

    --font-family: Playfair Display;
    --font-family-2: Raleway;

    --background-sobre: url(../img/imgEquipeQuesia.png) no-repeat center;
}

html {
    scroll-behavior: smooth;
  }

  body, html {
    height: 100%;
    background-color: var(--color-1);
  }

/* Navbar */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    background-color: transparent;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
  
  /* The navigation links inside the overlay */
  .overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    background-color: transparent;
    font-family: var(--font-family);
    margin-bottom: 20px;
  }

.btnOpen {
    margin-left: 14px;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    top: 5px;
}
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background-color: transparent;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

main {
    background-color: var(--color-1);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    overflow-x: hidden;
}


#mainNome {
    font-family: var(--font-family);
    color: var(--color-2);
    font-size: 10vh;
    height: 100%;
    width: 0vh;
    user-select: none;
}

.nome {
  z-index: 2;
}

.imgQuesia {
    position: relative;
    width: 40vh;
    aspect-ratio: 9 / 16;
    -webkit-filter: saturate(0);
    background-color: #818181;
    background: linear-gradient(145deg, #353535, #f0f0f0);
    user-select: none;
}

.imgQuesia:hover {
    -webkit-filter: saturate(0.7);
    transition: all .1s ease-in-out;
}

.imgQuesia::after {
  transition: all .1s ease-in-out;
}

.box {
    opacity: 0;/* Inicialmente, ocultamos o conteúdo */
    transition: opacity 0.5s ease-in-out; /* Adicionamos uma transição de opacidade */
}

.box.in-view {
    opacity: 1; /* Quando a classe 'in-view' é aplicada, a caixa fica visível */
}

.box.in-view-slide {
  opacity: 1; /* Quando a classe 'in-view' é aplicada, a caixa fica visível */
}

.arrow {
    position: relative;
    width: 100%;
    height: 10vh;
    text-align: center;
    align-content: center;
    cursor: pointer;
    margin-top: 100px;
}

.arrow:hover {
    transition: all .1s ease-in-out;
    background: #121212;
    box-shadow:  0px 0px 4px #2d2d2d,
                 0px 0px 4px #2d2d2d;
}

.arrow span {
    background-color: transparent;
}

.sobre {
  margin-top: 200px;
  width: 100%;
  background-image: url("../img/imgEquipeQuesia.png");

  /* Full height */
  height: 90vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title p {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: 12vh;
  color: var(--color-2);
  text-align: right;
  margin-top: 14vh;
  width: 90%;
}

.textSobre {
  width: 60%;
  margin-top: 8vh;
}

.textSobre p {
  font-family: var(--font-family-2);
  font-size: 48px;
  margin-left: 16vh;
}

@media (max-width: 1304px){
  .textSobre {
    width: 80%;
  }
}

@media (max-width: 914px){
  .textSobre {
    width: 70%;
  }

  .textSobre p {
    font-family: var(--font-family-2);
    font-size: 34px;
    margin-left: 16vh;
  }
}

@media (max-width: 914px){
  .textSobre {
    width: 90%;
    
  }
}

@media (max-width: 656px){

  .textSobre {
    width: 70%;
    
  }
  
  .title p {
    text-align: center;
    width: 100%;
    font-size: 14vh;
    margin-top: 10vh;
  }

  .textSobre p {
    font-family: var(--font-family-2);
    font-size: 28px;
    margin-left: 8vh;
  }
}

.timeline {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  width: 40vh;
  height: 40vh;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  transform: translateX(-500px);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.container h4 {
  font-family: var(--font-family);
  font-size: 24px;
  
}

.container p {
  font-family: var(--font-family-2);
  margin-top: 4px;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.title-time {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: 12vh;
  color: var(--color-2);
  text-align: center;
  margin-top: 14vh;
  width: 100%;
  margin-bottom: 14vh;
}